.App {
  text-align: center;
  font-family: 'Gaegu', sans-serif;
}

/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}*/

.App-header {
  background-color: #141f38;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabs-container {
  display: flex;
}

.credits {
  font-size: 2.1vmin;
  opacity: 0.7;
}

::selection {
  background: rgb(255,255,255,0.3);
}

::-moz-selection {
  background: rgb(255,255,255,0.3);
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
