@media (min-width:0px) {
  /* technically 320, smartphones, iPhone, portrait 480x320 phones */
  .App {
    /*text-align: center;*/
    /*font-family: 'Raleway', sans-serif;*/
    /*background-repeat: no-repeat;*/
    /*background-position: bottom center;*/
    font-family: futura-pt, sans-serif;
    font-style: normal;
    font-weight: 400;
    /*background-image: url(/bgg.jpg);*/
    /*background-size: cover;*/
    /*background-clip: text;*/
    /*background-position: center;*/
    /*-webkit-background-clip: text;*/
    /*color: transparent;*/
  }

  .big-text {
    font-size: 10.5em;
    cursor: pointer;
    margin: 0 0.05em;
  }

  .App-header {
    /*background-color: #141f38;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    /*font-size: 1.3em;*/
    /*color: #626e80;*/
  }

  .contents-container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*margin: 0;*/
    /*display: block;*/
    padding: 2em;
  }

  .home {
    width: 4em;
    margin-bottom: 2em;
    transition: opacity 0.2s;
  }

  .home:hover {
    opacity: 0.7;
  }

  /*  .tabs-container {
    display: flex;
  }*/

  .footer {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .ext-icons {
    display: flex;
  }

  .icon {
    flex-grow: 0;
    transition: all 0.4s ease 0s;
    display: inline-block;
    width: 1.5em;
    cursor: pointer;
    margin: 0.5em;
  }

  .icon:hover {
    opacity: 0.8;
  }

  .soft-link {
    font-weight: 400;
  }

  p {
    font-size: 1.4em;
    color: #7f8994;
    margin: 0 0 0.5em 0;
  }

  strong {
    font-weight: 500;
    color: #b6d1f0;
  }

  a {
    /*color: #a2caef;*/
    /*color: #c4e3ff;*/
    /*color: transparent;*/
    /*text-decoration: none;*/
    /*font-weight: 600;*/
    /*transition: all 0.5s ease 0s;*/
  }

  .credits {
    font-size: 0.7em;
    color: #b4c2d6;
  }
}

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
  .contents-container {
    padding: 3em;
  }

  p {
    font-size: 1.5em;
  }

  .big-text {
    font-size: 12em;
    margin: 0 0.07em;
  }
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .contents-container {
    padding: 4em;
  }

  p {
    font-size: 1.6em;
  }

  .big-text {
    font-size: 12.5em;
    margin: 0 0.09em;
  }
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops and desktops */
  .contents-container {
    padding: 5em;
  }

  .big-text {
    font-size: 14em;
    margin: 0 0.15em;
  }
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
  .App-header {
    justify-content: center;
  }

  p {
    font-size: 1.7em;
  }

  .big-text {
    font-size: 14.3em;
    margin: 0 0.19em;
  }
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .App-header {
    justify-content: center;
  }

  .big-text {
    font-size: 16em;
    margin: 0 0.24em;
  }

  .home {
    width: 4em;
  }

  p {
    font-size: 1.8em;
  }

  .contents-container {
    /*display: flex;*/
    /*flex-wrap: wrap;*/
    /*align-items: center;*/
    /*margin: 0;*/
  }
}


::selection {
  background: rgb(216, 226, 240, 0.4);
}

::-moz-selection {
  background: rgb(216, 226, 240, 0.4);
}
