@media (min-width:0px) {
  /* technically 320, smartphones, iPhone, portrait 480x320 phones */
  .App {
    text-align: center;
    font-family: 'Raleway', sans-serif;
    /*background-repeat: no-repeat;*/
    /*background-position: bottom center;*/
    background-image: url(/bgg.jpg);
    background-size: cover;
    background-clip: text;
    background-position: center;
    -webkit-background-clip: text;
    color: transparent;
  }

  .big-text {
    font-size: 10em;
    cursor: pointer;
  }

  .App-header {
    /*background-color: #141f38;*/
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: 1.3em;
    /*color: #626e80;*/
  }

  .contents-container {
    margin-top: 5.5em;
  }

  /*  .tabs-container {
    display: flex;
  }*/

  .footer {
    padding: 0.8em;
    display: flex;
    flex-direction: column;
    justify-content: center;

  }

  .ext-icons {
    display: flex;
  }

  .icon {
    flex-grow: 0;
    transition: all 0.4s ease 0s;
    display: inline-block;
    width: 1.5em;
    cursor: pointer;
    margin: 0.5em;
  }

  .icon:hover {
    opacity: 0.8;
  }

  .soft-link {
    font-weight: 400;
  }

  a {
    /*color: #a2caef;*/
    /*color: #c4e3ff;*/
    color: transparent;
    text-decoration: none;
    /*font-weight: 600;*/
    /*transition: all 0.5s ease 0s;*/
  }

  .credits {
    font-size: 0.7em;
    color: #b4c2d6;
  }
}

@media (min-width:481px) {
  /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */
}

@media (min-width:641px) {
  /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */
  .App-header {
    font-size: 1.5em;
  }
}

@media (min-width:961px) {
  /* tablet, landscape iPad, lo-res laptops and desktops */
}

@media (min-width:1025px) {
  /* big landscape tablets, laptops, and desktops */
}

@media (min-width:1281px) {
  /* hi-res laptops and desktops */
  .App {
    background-size: cover;
  }

  .App-header {
    justify-content: center;
  }

  .big-text {
    font-size: 14.5em;
    margin: 0 0.24em;
  }

  .contents-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
  }
}


::selection {
  background: rgb(216, 226, 240, 0.4);
}

::-moz-selection {
  background: rgb(216, 226, 240, 0.4);
}
