.content-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 8px;
}

.content-container {
  padding: 0.5vmin;
  border-radius: 10px;
}

.multibox-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.content-window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-window-header-bar {
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.6px;
  padding: 6px;
  color: #647faa;
}

.content-window-main-wrapper {
  max-width: 68vmin;
  height: 68vmin;
  border-radius: 2vmin;
  padding: 1vmin;
  margin: 1vmin;
  flex-grow: 1;
  text-align: left;
  background-size: cover;
  overflow: auto;
}

.main-text {
  padding: 2vmin;
  font-size: 3.5vmin;
  color: #ffffff;
  line-height: 1.4;
}

.footer {
  padding: 2vmin;
  font-size: 3.5vmin;
  color: #ffffff;
  line-height: 1.4;
}

.ext-icons {
  display: flex;
}

.icon-container {
  height: 7vmin;
  width: 7vmin;
}

.linkedin {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: 6vmin;
  width: 6vmin;
  /*background-image: url("iconlinkedin.svg");*/
  cursor: pointer;
/*  background-repeat: no-repeat;
  background-position: center;*/
}

.linkedin:hover {
  opacity: 0.6;
}

.github {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: 6vmin;
  width: 6vmin;
  /*background-image: url("icongithub.svg");*/
  cursor: pointer;
/*  background-repeat: no-repeat;
  background-position: center;*/
}

.github:hover {
  opacity: 0.6;
}

.behance {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: 6vmin;
  width: 6vmin;
/*  background-image: url("iconbehance.svg");*/
  cursor: pointer;
/*  background-repeat: no-repeat;
  background-position: center;*/
}

.behance:hover {
  opacity: 0.6;
}

.vimeo {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: 6vmin;
  width: 6vmin;
/*  background-image: url("iconvimeo.svg");*/
  cursor: pointer;
/*  background-repeat: no-repeat;
  background-position: center;*/
}

.vimeo:hover {
  opacity: 0.6;
}

.twitter {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  height: 6vmin;
  width: 6vmin;
/*  background-image: url("sadfgg.svg");*/
  cursor: pointer;
/*  background-repeat: no-repeat;
  background-position: center;*/
}

.twitter:hover {
  opacity: 0.6;
}

a {
  color: #ededed;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}

a:hover {
  color: #a2caef;
}