.content-container-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 2vmin;
}

.content-container {
  padding: 0.5vmin;
  border-radius: 0.1vmin;
  display: flex;
}

.multibox-container {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.content-window {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.content-window-header-bar {
  text-transform: uppercase;
  font-size: 3.1vmin;
  padding: 1vmin 1.3vmin 0.1vmin;
  color: #a2caef;
  opacity: 0.93;
  letter-spacing: 0.5px;
  font-weight: 600;
}

.content-window-main-wrapper {
  width: 58vmin;
  max-width: 58vmin;
  height: 58vmin;
  border-radius: 2.5vmin;
  padding: 1.1vmin;
  margin: 1vmin;
  flex-grow: 1;
  text-align: left;
  background-size: cover;
  overflow: auto;
}

.main-text {
  padding: 1vmin 1.3vmin;
  font-size: 2.55vmin;
  color: #ffffff;
  line-height: 1.4;
}

.subtitle {
  padding: 0vmin 1.3vmin;
  font-size: 2.8vmin;
  color: #ffffff;
  font-weight: 600;
}

.date {
  padding: 0vmin 1.3vmin;
  font-size: 2.5vmin;
  color: #ffffff; 
  opacity: 0.7;
}

ul {
  margin: 0.4vmin;
  padding-left: 5vmin;
}

.footer {
  padding: 2vmin;
  font-size: 2.6vmin;
  color: #ffffff;
  line-height: 1.4;
}

.ext-icons {
  display: flex;
}

/*.icon-container {
  height: 8vmin;
  width: 8vmin;
}*/

.icon {
  border-radius: 50%;
  flex-grow: 0;
  transition: all 0.4s ease 0s;
  display: inline-block;
  width: 3.1vmin;
  fill: #ffffff;
  cursor: pointer;
  margin-right: 2vmin;
  margin-top: 1.3vmin;
}

.icon:hover {
  opacity: 0.6;
}

.soft-link {
  font-weight: 400;
}

a {
  /*color: #a2caef;*/
  color: #c4e3ff;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.5s ease 0s;
}

a:hover {
  opacity: 0.8;
}