/*.sidebar-tab {
  font-family: 'Gaegu', sans-serif;
}*/

.sidebar {
  display: flex;
}

.sidebar-tab {
  cursor: pointer;
  transition: all 0.5s ease 0s;
  margin: 1.1vmin 2vmin;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3.8vmin;
}

.sidebar-tab:hover {
  /*color: #a2caef;*/
  color: rgba(162, 202, 239, 1);
}